Repository mogeko/mogeko, changes with the labels that .github/labeler.yml gives for each.
All labels: app:blog, package:astro-mermaid, package:astro-reading-time, package:remark-anchor-link, package:tsconfig, package:typography, package:utils

.github/labeler.yml:

"app:blog":
  - changed-files:
    - any-glob-to-any-file: ["apps/blog/**/*"]

"package:astro-mermaid":
  - changed-files:
    - any-glob-to-any-file: ["packages/astro-mermaid/**/*"]

"package:astro-reading-time":
  - changed-files:
    - any-glob-to-any-file: ["packages/astro-reading-time/**/*"]

"package:remark-anchor-link":
  - changed-files:
    - any-glob-to-any-file: ["packages/remark-anchor-link/**/*"]

"package:tsconfig":
  - changed-files:
    - any-glob-to-any-file: ["packages/tsconfig/**/*"]

"package:typography":
  - changed-files:
    - any-glob-to-any-file: ["packages/typography/**/*"]

"package:utils":
  - changed-files:
    - any-glob-to-any-file: ["packages/utils/**/*"]

build: add TypeScript Node.js type definitions
  .github/changeset-version.ts
  package.json
  pnpm-lock.yaml
Labels: none

feat: improve error handling with custom NotFoundError
  apps/blog/app/image/[id]/route.ts
  apps/blog/components/image.tsx
  apps/blog/lib/errors.ts
  apps/blog/lib/image-helper.ts
  apps/blog/lib/notion.ts
Labels: app:blog

fix: remove debug console.log from image route handler
  apps/blog/app/image/[id]/route.ts
Labels: app:blog

fix: improve sitemap generation with better error handling
  apps/blog/app/sitemap.ts
Labels: app:blog

feat: refactor Notion API calls to use wrapper functions
  apps/blog/app/manifest.ts
  apps/blog/app/page.tsx
  apps/blog/app/sitemap.ts
  apps/blog/components/article-author.tsx
  apps/blog/components/render.tsx
  apps/blog/components/table-box.tsx
  apps/blog/lib/notion.ts
Labels: app:blog

feat: remove fetch logging configuration from Next.js config
  apps/blog/next.config.ts
Labels: app:blog

feat: rename queryDataSource to queryDataSources for consistency
  apps/blog/app/page.tsx
  apps/blog/app/sitemap.ts
  apps/blog/lib/notion.ts
Labels: app:blog

feat: enhance NotFoundError detection logic
  apps/blog/lib/errors.ts
Labels: app:blog

build: update multiple dependencies to latest versions
  apps/blog/package.json
  package.json
  packages/astro-mermaid/package.json
  packages/astro-reading-time/package.json
  packages/remark-anchor-link/package.json
  packages/tsconfig/package.json
  packages/typography/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: app:blog, package:astro-mermaid, package:astro-reading-time, package:remark-anchor-link, package:tsconfig, package:typography, package:utils

build: update biome config and remove redundant ignore comments
  apps/blog/biome.json
  apps/blog/components/code.tsx
  apps/blog/components/equation.tsx
Labels: app:blog

feat: improve image route error handling and update turbo
  apps/blog/app/image/[...key]/route.ts
  apps/blog/app/image/[id]/route.ts
  apps/blog/lib/errors.ts
  package.json
  pnpm-lock.yaml
Labels: app:blog

feat: improve authentication error handling
  apps/blog/lib/octokit.ts
Labels: app:blog

fix: refine test configuration and TypeScript setup
  packages/astro-reading-time/vitest.config.ts
  packages/utils/tsconfig.json
Labels: package:astro-reading-time, package:utils

build: centralize test and coverage commands in root package
  .github/workflows/build-packages.yml
  .github/workflows/test.yml
  package.json
  packages/astro-mermaid/package.json
  packages/astro-mermaid/vitest.config.ts
  packages/astro-reading-time/package.json
  packages/astro-reading-time/vitest.config.ts
  packages/remark-anchor-link/package.json
  packages/utils/package.json
  packages/utils/vitest.config.ts
  pnpm-lock.yaml
  turbo.json
  vitest.config.ts
Labels: package:astro-mermaid, package:astro-reading-time, package:remark-anchor-link, package:utils

build: enable remote cache for test workflow
  .github/workflows/test.yml
Labels: none

feat: replace mime-types dependency with custom mime lookup
  apps/blog/lib/image-helper.ts
  apps/blog/lib/mime.ts
  apps/blog/package.json
  pnpm-lock.yaml
Labels: app:blog

feat: add AES-GCM encryption/decryption tests and dependencies
  apps/blog/lib/__tests__/aes-gcm.test.ts
  apps/blog/lib/__tests__/mime.test.ts
  apps/blog/package.json
  apps/blog/vitest.config.ts
  pnpm-lock.yaml
Labels: app:blog

test: add unit tests for utility functions
  apps/blog/lib/__tests__/cn.test.ts
  apps/blog/lib/__tests__/color.test.ts
  apps/blog/lib/__tests__/errors.test.ts
  apps/blog/lib/__tests__/group-by.test.ts
  apps/blog/lib/__tests__/iterate-helper.test.ts
  apps/blog/lib/__tests__/shorten-uuid.test.ts
  apps/blog/lib/__tests__/with-wraper.test.tsx
  apps/blog/package.json
Labels: app:blog

tests: add comprehensive test suites for accordion and action-button components
  apps/blog/components/ui/__tests__/accordion.test.tsx
  apps/blog/components/ui/__tests__/action-button.test.tsx
  apps/blog/components/ui/__tests__/action-link.test.tsx
  apps/blog/components/ui/__tests__/badges.test.tsx
  apps/blog/package.json
  pnpm-lock.yaml
Labels: app:blog

refactor: replace complex CSS selectors with Tailwind not-first variant
  apps/blog/components/ui/table.tsx
Labels: app:blog

build: migrate to OIDC for Codecov and update JUnit test reporting
  .github/workflows/test.yml
  .gitignore
  vitest.config.ts
Labels: none

tests: update badge component usage and improve test structure
  apps/blog/app/page.tsx
  apps/blog/components/ui/__tests__/accordion.test.tsx
  apps/blog/components/ui/__tests__/action-button.test.tsx
  apps/blog/components/ui/__tests__/action-link.test.tsx
  apps/blog/components/ui/__tests__/alert-banner.test.tsx
  apps/blog/components/ui/__tests__/badges.test.tsx
  apps/blog/components/ui/__tests__/breadcrumb.test.tsx
  apps/blog/components/ui/__tests__/button.test.tsx
  apps/blog/components/ui/__tests__/card.test.tsx
  apps/blog/components/ui/__tests__/checkbox.test.tsx
  apps/blog/components/ui/__tests__/heading.test.tsx
  apps/blog/components/ui/__tests__/link.test.tsx
  apps/blog/components/ui/__tests__/list.test.tsx
  apps/blog/components/ui/__tests__/separator.test.tsx
  apps/blog/components/ui/__tests__/spinner.test.tsx
  apps/blog/components/ui/__tests__/table.test.tsx
  apps/blog/components/ui/alert-banner.tsx
  apps/blog/components/ui/badges.tsx
  apps/blog/components/ui/separator.tsx
  apps/blog/components/ui/spinner.tsx
Labels: app:blog

feat: add data-slot attributes to components for testing
  apps/blog/components/table-box.tsx
  apps/blog/components/ui/__tests__/accordion.test.tsx
  apps/blog/components/ui/__tests__/action-button.test.tsx
  apps/blog/components/ui/__tests__/action-link.test.tsx
  apps/blog/components/ui/__tests__/alert-banner.test.tsx
  apps/blog/components/ui/__tests__/badges.test.tsx
  apps/blog/components/ui/__tests__/breadcrumb.test.tsx
  apps/blog/components/ui/__tests__/button.test.tsx
  apps/blog/components/ui/__tests__/card.test.tsx
  apps/blog/components/ui/__tests__/checkbox.test.tsx
  apps/blog/components/ui/__tests__/heading.test.tsx
  apps/blog/components/ui/__tests__/link.test.tsx
  apps/blog/components/ui/__tests__/list.test.tsx
  apps/blog/components/ui/__tests__/separator.test.tsx
  apps/blog/components/ui/__tests__/table.test.tsx
  apps/blog/components/ui/accordion.tsx
  apps/blog/components/ui/action-button.tsx
  apps/blog/components/ui/action-link.tsx
  apps/blog/components/ui/alert-banner.tsx
  apps/blog/components/ui/badges.tsx
  apps/blog/components/ui/breadcrumb.tsx
  apps/blog/components/ui/button.tsx
  apps/blog/components/ui/card.tsx
  apps/blog/components/ui/checkbox.tsx
  apps/blog/components/ui/heading.tsx
  apps/blog/components/ui/link.tsx
  apps/blog/components/ui/list.tsx
  apps/blog/components/ui/separator.tsx
  apps/blog/components/ui/spinner.tsx
  apps/blog/components/ui/table.tsx
Labels: app:blog

docs: add data-slot attributes to components
  .changeset/quiet-showers-own.md
Labels: none

build: remove redundant cleanup calls from component tests
  apps/blog/components/ui/__tests__/accordion.test.tsx
  apps/blog/components/ui/__tests__/action-button.test.tsx
  apps/blog/components/ui/__tests__/action-link.test.tsx
  apps/blog/components/ui/__tests__/alert-banner.test.tsx
  apps/blog/components/ui/__tests__/badges.test.tsx
  apps/blog/components/ui/__tests__/breadcrumb.test.tsx
  apps/blog/components/ui/__tests__/button.test.tsx
  apps/blog/components/ui/__tests__/card.test.tsx
  apps/blog/components/ui/__tests__/checkbox.test.tsx
  apps/blog/components/ui/__tests__/heading.test.tsx
  apps/blog/components/ui/__tests__/link.test.tsx
  apps/blog/components/ui/__tests__/list.test.tsx
  apps/blog/components/ui/__tests__/separator.test.tsx
  apps/blog/components/ui/__tests__/spinner.test.tsx
  apps/blog/components/ui/__tests__/table.test.tsx
  apps/blog/scripts/vitest-cleanup-after-each.ts
  apps/blog/vitest.config.ts
Labels: app:blog

test: add unit tests for Equation, Icon, and Mention components
  apps/blog/components/__tests__/equation.test.tsx
  apps/blog/components/__tests__/icon.test.tsx
  apps/blog/components/__tests__/mention.test.tsx
  apps/blog/components/__tests__/text.test.tsx
Labels: app:blog

test: add unit tests for table components
  apps/blog/components/__tests__/table-box.test.tsx
  apps/blog/components/__tests__/table-row.test.tsx
  apps/blog/components/table-row.tsx
Labels: app:blog

build update dependencies and migrate to browser testing
  apps/blog/package.json
  apps/blog/vitest.config.ts
  package.json
  packages/astro-mermaid/package.json
  packages/astro-reading-time/package.json
  packages/remark-anchor-link/package.json
  packages/typography/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: app:blog, package:astro-mermaid, package:astro-reading-time, package:remark-anchor-link, package:typography, package:utils

refactor: migrate to vitest-browser-react for async rendering
  apps/blog/components/__tests__/equation.test.tsx
  apps/blog/components/__tests__/icon.test.tsx
  apps/blog/components/__tests__/mention.test.tsx
  apps/blog/components/__tests__/table-box.test.tsx
  apps/blog/components/__tests__/table-row.test.tsx
  apps/blog/components/__tests__/text.test.tsx
Labels: app:blog

tests: migrate from testing-library to vitest browser testing
  apps/blog/components/__tests__/table-box.test.tsx
  apps/blog/components/ui/__tests__/accordion.test.tsx
  apps/blog/components/ui/__tests__/action-button.test.tsx
  apps/blog/components/ui/__tests__/action-link.test.tsx
  apps/blog/components/ui/__tests__/alert-banner.test.tsx
  apps/blog/components/ui/__tests__/badges.test.tsx
  apps/blog/components/ui/__tests__/breadcrumb.test.tsx
  apps/blog/components/ui/__tests__/button.test.tsx
  apps/blog/components/ui/__tests__/card.test.tsx
  apps/blog/components/ui/__tests__/checkbox.test.tsx
  apps/blog/components/ui/__tests__/heading.test.tsx
  apps/blog/components/ui/__tests__/link.test.tsx
  apps/blog/components/ui/__tests__/list.test.tsx
  apps/blog/components/ui/__tests__/separator.test.tsx
  apps/blog/components/ui/__tests__/spinner.test.tsx
  apps/blog/components/ui/__tests__/table.test.tsx
  apps/blog/components/ui/table.tsx
  apps/blog/package.json
  apps/blog/scripts/vitest-cleanup-after-each.ts
  pnpm-lock.yaml
Labels: app:blog

build: migrate from @vitejs/plugin-react to @vitejs/plugin-react-swc
  apps/blog/package.json
  apps/blog/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: app:blog

tests: skip flaky AES-GCM and MIME tests
  apps/blog/lib/__tests__/aes-gcm.skip.ts
  apps/blog/lib/__tests__/mime.skip.ts
Labels: app:blog

build: update Playwright installation command in CI workflow
  .github/workflows/test.yml
Labels: none

build: improve playwright version fetch script readability
  .github/workflows/test.yml
Labels: none

build: reorder workflow steps for better caching efficiency
  .github/workflows/test.yml
Labels: none

tests: enable CSS for browser testing
  apps/blog/scripts/vitest-setup-css.ts
  apps/blog/vitest.config.ts
Labels: app:blog

feat: standardize environment variable imports
  apps/blog/app/api/oauth/access_token/route.ts
  apps/blog/app/api/oauth/authorize/route.ts
  apps/blog/app/layout.tsx
  apps/blog/app/manifest.ts
  apps/blog/app/page.tsx
  apps/blog/app/robots.ts
  apps/blog/app/sitemap.ts
  apps/blog/lib/notion.ts
  apps/blog/lib/octokit.ts
  apps/blog/lib/s3.ts
  apps/blog/vitest.config.ts
Labels: app:blog

feat: migrate from Node.js built-ins to @std/crypto and @std/path
  apps/blog/app/api/oauth/access_token/route.ts
  apps/blog/app/api/oauth/authorize/route.ts
  apps/blog/components/image.tsx
  apps/blog/lib/__tests__/aes-gcm.test.ts
  apps/blog/lib/__tests__/mime.test.ts
  apps/blog/lib/aes-gcm.ts
  apps/blog/lib/mime.ts
  apps/blog/package.json
  pnpm-lock.yaml
Labels: app:blog

refactor: remove unused URL import and add src prop type
  apps/blog/components/image.tsx
Labels: app:blog

refactor: import Notion types directly from client package
  apps/blog/app/page.tsx
  apps/blog/app/sitemap.ts
  apps/blog/components/__tests__/mention.test.tsx
  apps/blog/components/__tests__/text.test.tsx
  apps/blog/components/article-author.tsx
  apps/blog/components/code.tsx
  apps/blog/components/icon.tsx
  apps/blog/components/mention.tsx
  apps/blog/components/render.tsx
  apps/blog/components/table-box.tsx
  apps/blog/components/table-row.tsx
  apps/blog/components/text.tsx
  apps/blog/lib/notion.ts
Labels: app:blog
