Repository mogeko/mogeko, changes with the labels that .github/labeler.yml gives for each.
All labels: app:blog, package:astro-mermaid, package:astro-reading-time, package:remark-anchor-link, package:tsconfig, package:typography, package:utils

fix: adjust margin for last child in List Block component
  apps/blog/components/render.tsx
Labels: app:blog

feat: add CoverImage component for rendering images from files property
  apps/blog/components/cover-image.tsx
Labels: app:blog

feat: add Button component with variant support and styling
  apps/blog/components/ui/button.tsx
Labels: app:blog

refactor: replace webcrypto with subtle for encryption and decryption functions
  apps/blog/lib/ase-gcm.ts
Labels: app:blog

feat: update Breadcrumb component to use BreadcrumbItem for better structure
  apps/blog/app/posts/[id]/page.tsx
  apps/blog/components/ui/breadcrumb.tsx
Labels: app:blog

fix: update import path for AES-GCM encryption and decryption functions
  apps/blog/app/api/oauth/access_token/route.ts
  apps/blog/app/api/oauth/authorize/route.ts
  apps/blog/lib/aes-gcm.ts
  package.json
Labels: app:blog

chore: update turbo version in package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Labels: none

chore: update tsconfig and tsup configurations for improved path resolution and include patterns
  packages/astro-mermaid/tsconfig.json
  packages/astro-mermaid/tsup.config.ts
  packages/astro-reading-time/tsconfig.json
  packages/astro-reading-time/tsup.config.ts
  packages/remark-anchor-link/tsconfig.json
  packages/remark-anchor-link/tsup.config.ts
  packages/typography/tsup.config.ts
  packages/utils/tsconfig.json
  packages/utils/tsup.config.ts
Labels: package:astro-mermaid, package:astro-reading-time, package:remark-anchor-link, package:typography, package:utils

chore: remove default target from tsconfig and update related configurations
  .changeset/witty-groups-listen.md
  packages/astro-mermaid/tsconfig.json
  packages/astro-reading-time/tsconfig.json
  packages/remark-anchor-link/tsconfig.json
  packages/tsconfig/default.tsconfig.json
  packages/typography/tsconfig.json
  packages/utils/tsconfig.json
Labels: package:astro-mermaid, package:astro-reading-time, package:remark-anchor-link, package:tsconfig, package:typography, package:utils

fix: use Buffer.allocUnsafe for IV allocation in AES-GCM encryption
  apps/blog/lib/aes-gcm.ts
Labels: app:blog

fix: update import for getRandomValues to use webcrypto in AES-GCM encryption
  apps/blog/lib/aes-gcm.ts
Labels: app:blog

fix: optimize AES-GCM encryption and decryption by reducing type conversions and update entry point
  .changeset/angry-chairs-sing.md
  packages/utils/src/aes-gcm.ts
  packages/utils/src/ase-gcm.ts
  packages/utils/tests/ase-gcm.test.ts
  packages/utils/tsup.config.ts
Labels: package:utils

feat: implement secondary pages
  .changeset/five-tires-slide.md
  apps/blog/app/posts/[...ids]/page.tsx
  apps/blog/components/render.tsx
Labels: app:blog

feat: update child_page link structure to include parent page context
  apps/blog/components/render.tsx
Labels: app:blog

feat: update Next.js version and enable turbopack in dev script
  apps/blog/package.json
  pnpm-lock.yaml
Labels: app:blog

refactor: refactor Author component and update page to use new props structure
  apps/blog/app/posts/[...ids]/page.tsx
  apps/blog/app/posts/[id]/page.tsx
  apps/blog/components/article-author.tsx
Labels: app:blog

fix: return notFound() for invalid parent or page in generateMetadata
  apps/blog/app/posts/[...ids]/page.tsx
Labels: app:blog

refactor: simplify Author component by removing user_id prop
  apps/blog/app/posts/[...ids]/page.tsx
  apps/blog/app/posts/[id]/page.tsx
  apps/blog/components/article-author.tsx
Labels: app:blog

feat: remove unnecessary network fetch in NotionRender component
  .changeset/ready-lemons-wonder.md
  apps/blog/app/posts/[...ids]/page.tsx
  apps/blog/app/posts/[id]/page.tsx
  apps/blog/components/render.tsx
Labels: app:blog

feat: add support for column and column_list blocks in NotionRender
  .changeset/fair-memes-flash.md
  apps/blog/components/render.tsx
Labels: app:blog

build(deps): update package manager to pnpm@10.8.1
  package.json
Labels: none

chore: update api-endpoints
  apps/blog/lib/api-endpoints.ts
Labels: app:blog

feat: refactor image handling with Cloudinary integration and remove unused image component
  .changeset/afraid-eels-send.md
  apps/blog/components/cover-image.tsx
  apps/blog/components/image.tsx
  apps/blog/components/render.tsx
  apps/blog/components/ui/image.tsx
  apps/blog/lib/image-loader.ts
  apps/blog/lib/preview-images.ts
  apps/blog/next.config.ts
  apps/blog/package.json
  pnpm-lock.yaml
Labels: app:blog

feat: enhance Image component to include alt text and improve height calculation
  apps/blog/components/image.tsx
Labels: app:blog

refactor: cache sha1 function for improved performance
  apps/blog/components/image.tsx
Labels: app:blog

feat: set up global cache for Notion API and optimize fetch handling
  .changeset/modern-pianos-wave.md
  apps/blog/app/layout.tsx
  apps/blog/app/sitemap.ts
  apps/blog/lib/notion.ts
Labels: app:blog

refactor: migrate color variants to a new colors module and update imports
  apps/blog/components/render.tsx
  apps/blog/components/text.tsx
  apps/blog/components/ui/accordion.tsx
  apps/blog/components/ui/heading.tsx
  apps/blog/components/ui/list.tsx
  apps/blog/lib/colors.ts
Labels: app:blog

fix: reorder environment variables in build task for consistency
  turbo.json
Labels: none

build: update next and changesets dependencies to latest versions
  apps/blog/package.json
  package.json
  pnpm-lock.yaml
Labels: app:blog

feat: refactor OAuth routes and enhance Notion integration; remove deprecated page structure
  .changeset/plenty-carpets-jump.md
  apps/blog/app/api/oauth/access_token/route.ts
  apps/blog/app/api/oauth/authorize/route.ts
  apps/blog/app/not-found.tsx
  apps/blog/app/posts/[...ids]/page.tsx
  apps/blog/app/posts/[slug]/page.tsx
  apps/blog/components/ui/heading.tsx
  apps/blog/lib/notion.ts
Labels: app:blog

refactor: update comments for clarity and improve type definitions in components
  apps/blog/app/layout.tsx
  apps/blog/app/posts/[slug]/page.tsx
  apps/blog/components/code.tsx
  apps/blog/components/equation.tsx
  apps/blog/components/ui/badges.tsx
  apps/blog/lib/image-loader.ts
Labels: app:blog

refactor: rename imageLoader to cloudinaryLoader and update its type definition
  apps/blog/components/image.tsx
  apps/blog/lib/image-loader.ts
Labels: app:blog

fix: fix the overflow issues of code blocks and tables on mobile devices
  apps/blog/components/render.tsx
  apps/blog/components/ui/table.tsx
  apps/blog/styles/globals.css
Labels: app:blog

feat: add checkbox component and update related dependency versions
  apps/blog/components/ui/checkbox.tsx
  package.json
  packages/astro-mermaid/package.json
  pnpm-lock.yaml
Labels: app:blog, package:astro-mermaid

feat: filter out draft articles in production environment
  .changeset/olive-jobs-march.md
  apps/blog/app/page.tsx
Labels: app:blog

feat: use property ID instead of property Name
  apps/blog/app/page.tsx
Labels: app:blog

fix: update overflow styles for responsive layout in render and table components
  apps/blog/components/render.tsx
  apps/blog/components/ui/table.tsx
  apps/blog/styles/globals.css
Labels: app:blog

refactor: enhance type definitions for Code and Equation components
  apps/blog/components/code.tsx
  apps/blog/components/equation.tsx
Labels: app:blog

feat: add error handling for image loading and update package manager version
  apps/blog/components/image.tsx
  apps/blog/lib/image-loader.ts
  apps/blog/next.config.ts
  package.json
Labels: app:blog

fix: improve error handling for image loading fallback to ImageKit
  apps/blog/lib/image-loader.ts
Labels: app:blog

.github/labeler.yml:

"app:blog":
  - changed-files:
    - any-glob-to-any-file: ["apps/blog/**/*"]

"package:astro-mermaid":
  - changed-files:
    - any-glob-to-any-file: ["packages/astro-mermaid/**/*"]

"package:astro-reading-time":
  - changed-files:
    - any-glob-to-any-file: ["packages/astro-reading-time/**/*"]

"package:remark-anchor-link":
  - changed-files:
    - any-glob-to-any-file: ["packages/remark-anchor-link/**/*"]

"package:tsconfig":
  - changed-files:
    - any-glob-to-any-file: ["packages/tsconfig/**/*"]

"package:typography":
  - changed-files:
    - any-glob-to-any-file: ["packages/typography/**/*"]

"package:utils":
  - changed-files:
    - any-glob-to-any-file: ["packages/utils/**/*"]
