Repository mogeko/mogeko, changes with the labels that .github/labeler.yml gives for each.
All labels: app:blog, package:astro-mermaid, package:astro-reading-time, package:remark-anchor-link, package:tsconfig, package:typography, package:utils

.github/labeler.yml:

"app:blog":
  - changed-files:
    - any-glob-to-any-file: ["apps/blog/**/*"]

"package:astro-mermaid":
  - changed-files:
    - any-glob-to-any-file: ["packages/astro-mermaid/**/*"]

"package:astro-reading-time":
  - changed-files:
    - any-glob-to-any-file: ["packages/astro-reading-time/**/*"]

"package:remark-anchor-link":
  - changed-files:
    - any-glob-to-any-file: ["packages/remark-anchor-link/**/*"]

"package:tsconfig":
  - changed-files:
    - any-glob-to-any-file: ["packages/tsconfig/**/*"]

"package:typography":
  - changed-files:
    - any-glob-to-any-file: ["packages/typography/**/*"]

"package:utils":
  - changed-files:
    - any-glob-to-any-file: ["packages/utils/**/*"]

fix: fix hydration errors in React during the testing process.
  apps/blog/components/__tests__/table-box.test.tsx
  apps/blog/components/__tests__/table-row.test.tsx
Labels: app:blog

refactor: migrate from vitest-browser-react to vitest/browser page API
  apps/blog/components/__tests__/equation.test.tsx
  apps/blog/components/__tests__/icon.test.tsx
  apps/blog/components/__tests__/mention.test.tsx
  apps/blog/components/__tests__/table-box.test.tsx
  apps/blog/components/__tests__/table-row.test.tsx
  apps/blog/components/__tests__/text.test.tsx
  apps/blog/components/ui/__tests__/__screenshots__/alert-banner.test.tsx/AlertBanner-should-handle-click-events-1.png
  apps/blog/components/ui/__tests__/__screenshots__/breadcrumb.test.tsx/Breadcrumb-should-pass-through-additional-HTML-attributes-1.png
  apps/blog/components/ui/__tests__/__screenshots__/button.test.tsx/Button-should-be-disabled-when-disabled-prop-is-true-1.png
  apps/blog/components/ui/__tests__/accordion.test.tsx
  apps/blog/components/ui/__tests__/action-button.test.tsx
  apps/blog/components/ui/__tests__/action-link.test.tsx
  apps/blog/components/ui/__tests__/alert-banner.test.tsx
  apps/blog/components/ui/__tests__/badges.test.tsx
  apps/blog/components/ui/__tests__/breadcrumb.test.tsx
  apps/blog/components/ui/__tests__/button.test.tsx
  apps/blog/components/ui/__tests__/card.test.tsx
  apps/blog/components/ui/__tests__/checkbox.test.tsx
  apps/blog/components/ui/__tests__/heading.test.tsx
  apps/blog/components/ui/__tests__/link.test.tsx
  apps/blog/components/ui/__tests__/list.test.tsx
  apps/blog/components/ui/__tests__/separator.test.tsx
  apps/blog/components/ui/__tests__/spinner.test.tsx
  apps/blog/components/ui/__tests__/table.test.tsx
  apps/blog/scripts/vitest-setup.ts
  apps/blog/vitest.config.ts
Labels: app:blog

tests: remove unused mocks and add test coverage for image and Redis modules
  apps/blog/components/__tests__/table-box.test.tsx
  apps/blog/components/__tests__/table-row.test.tsx
  apps/blog/components/ui/__tests__/__screenshots__/alert-banner.test.tsx/AlertBanner-should-handle-click-events-1.png
  apps/blog/components/ui/__tests__/__screenshots__/breadcrumb.test.tsx/Breadcrumb-should-pass-through-additional-HTML-attributes-1.png
  apps/blog/components/ui/__tests__/__screenshots__/button.test.tsx/Button-should-be-disabled-when-disabled-prop-is-true-1.png
  apps/blog/lib/__tests__/image-helper.test.ts
  apps/blog/lib/__tests__/redis.test.ts
  apps/blog/lib/image-helper.ts
Labels: app:blog

tests: move Notion API functions to separate module
  apps/blog/app/layout.tsx
  apps/blog/app/manifest.ts
  apps/blog/app/page.tsx
  apps/blog/app/posts/[slug]/page.tsx
  apps/blog/app/sitemap.ts
  apps/blog/components/__tests__/table-box.test.tsx
  apps/blog/components/article-author.tsx
  apps/blog/components/post-staffs.tsx
  apps/blog/components/render.tsx
  apps/blog/components/table-box.tsx
  apps/blog/lib/__tests__/retrieve-database.test.ts
  apps/blog/lib/notion-staffs.ts
  apps/blog/lib/notion.ts
  apps/blog/vitest.config.ts
Labels: app:blog

tests: add tests for Notion API wrapper functions
  apps/blog/lib/__tests__/query-blocks.test.ts
  apps/blog/lib/__tests__/query-data-sources.test.ts
  apps/blog/lib/__tests__/retrieve-page.test.ts
  apps/blog/lib/__tests__/retrieve-users.test.ts
Labels: app:blog

refactor: refactoring image upload to use ArrayBuffer instead of Buffer
  .github/workflows/test.yml
  apps/blog/components/image.tsx
  apps/blog/lib/image-helper.ts
Labels: app:blog

refactor: use process.env directly instead of importing env
  apps/blog/app/api/oauth/access_token/route.ts
  apps/blog/app/api/oauth/authorize/route.ts
  apps/blog/app/layout.tsx
  apps/blog/app/manifest.ts
  apps/blog/app/page.tsx
  apps/blog/app/robots.ts
  apps/blog/app/sitemap.ts
  apps/blog/lib/notion.ts
  apps/blog/lib/octokit.ts
  apps/blog/lib/s3.ts
Labels: app:blog

build: remove unused @std/crypto dependency
  apps/blog/components/image.tsx
  apps/blog/lib/aes-gcm.ts
  apps/blog/package.json
  package.json
  pnpm-lock.yaml
Labels: app:blog

tests: add browser environment tests for image helper
  apps/blog/lib/__tests__/image-helper.test.ts
Labels: app:blog

fix: update Playwright to version 1.57.0 and adjust installation steps
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Labels: none

build: add Playwright 1.57.0 as a dependency and update pnpm version
  apps/blog/package.json
  package.json
  pnpm-lock.yaml
Labels: app:blog

build: update package.json to use catalog for dependencies and add catalogs for vitest
  apps/blog/package.json
  package.json
  packages/astro-mermaid/package.json
  packages/astro-reading-time/package.json
  packages/remark-anchor-link/package.json
  packages/typography/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: app:blog, package:astro-mermaid, package:astro-reading-time, package:remark-anchor-link, package:typography, package:utils

chore(deps): update pnpm and vitest specifier
  package.json
  pnpm-lock.yaml
Labels: none

Add tabindex to anchor link properties
  packages/remark-anchor-link/index.ts
Labels: package:remark-anchor-link

chore: update dependencies in utils package and pnpm lockfile
  .github/workflows/test.yml
  apps/blog/components/__tests__/equation.test.tsx
  apps/blog/components/__tests__/icon.test.tsx
  apps/blog/components/__tests__/mention.test.tsx
  apps/blog/components/__tests__/table-box.test.tsx
  apps/blog/components/__tests__/table-row.test.tsx
  apps/blog/components/__tests__/text.test.tsx
  apps/blog/components/ui/__tests__/accordion.test.tsx
  apps/blog/components/ui/__tests__/action-button.test.tsx
  apps/blog/components/ui/__tests__/action-link.test.tsx
  apps/blog/components/ui/__tests__/alert-banner.test.tsx
  apps/blog/components/ui/__tests__/badges.test.tsx
  apps/blog/components/ui/__tests__/breadcrumb.test.tsx
  apps/blog/components/ui/__tests__/button.test.tsx
  apps/blog/components/ui/__tests__/card.test.tsx
  apps/blog/components/ui/__tests__/checkbox.test.tsx
  apps/blog/components/ui/__tests__/heading.test.tsx
  apps/blog/components/ui/__tests__/link.test.tsx
  apps/blog/components/ui/__tests__/list.test.tsx
  apps/blog/components/ui/__tests__/separator.test.tsx
  apps/blog/components/ui/__tests__/spinner.test.tsx
  apps/blog/components/ui/__tests__/table.test.tsx
  apps/blog/lib/__tests__/image-helper.test.ts
  apps/blog/lib/__tests__/query-blocks.test.ts
  apps/blog/lib/__tests__/query-data-sources.test.ts
  apps/blog/lib/__tests__/redis.test.ts
  apps/blog/lib/__tests__/retrieve-database.test.ts
  apps/blog/lib/__tests__/retrieve-page.test.ts
  apps/blog/lib/__tests__/retrieve-users.test.ts
  apps/blog/package.json
  apps/blog/scripts/vitest-setup.ts
  apps/blog/vitest.config.ts
  package.json
  packages/astro-mermaid/package.json
  packages/astro-reading-time/package.json
  packages/remark-anchor-link/package.json
  packages/typography/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: app:blog, package:astro-mermaid, package:astro-reading-time, package:remark-anchor-link, package:typography, package:utils

fix: modify unit tests and format optimization
  packages/remark-anchor-link/index.ts
Labels: package:remark-anchor-link

fix: update AES-GCM implementation to use crypto module directly
  .changeset/forty-oranges-deny.md
  packages/utils/package.json
  packages/utils/src/aes-gcm.ts
Labels: package:utils

docs: add tabindex to anchor link properties
  .changeset/smooth-eagles-cry.md
Labels: none

chore: use tsupdown instead of tsup as the bundling tool
  .changeset/sparkly-dolls-rest.md
  packages/astro-mermaid/package.json
  packages/astro-mermaid/tsdown.config.ts
  packages/astro-reading-time/package.json
  packages/astro-reading-time/tsdown.config.ts
  packages/astro-reading-time/tsup.config.ts
  packages/remark-anchor-link/package.json
  packages/remark-anchor-link/tsdown.config.ts
  packages/remark-anchor-link/tsup.config.ts
  packages/typography/package.json
  packages/typography/tsdown.config.ts
  packages/typography/tsup.config.ts
  packages/utils/package.json
  packages/utils/tsdown.config.ts
  packages/utils/tsup.config.ts
  pnpm-lock.yaml
Labels: package:astro-mermaid, package:astro-reading-time, package:remark-anchor-link, package:typography, package:utils

chore: update release workflow and adjust JS engine compatibility
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Labels: none

chore: update TypeScript configurations and enhance type declarations
  packages/astro-mermaid/tsconfig.json
  packages/astro-reading-time/tsconfig.json
  packages/remark-anchor-link/tsconfig.json
  packages/tsconfig/default.tsconfig.json
  packages/utils/src/aes-gcm.ts
  packages/utils/src/deep-merge-with.ts
  packages/utils/src/deep-merge.ts
  packages/utils/src/omit.ts
  packages/utils/src/tap.ts
  packages/utils/tsconfig.json
Labels: package:astro-mermaid, package:astro-reading-time, package:remark-anchor-link, package:tsconfig, package:utils

chore: add changeset for TypeScript configuration updates and type declaration enhancements
  .changeset/tender-seas-smoke.md
Labels: none

chore: update TypeScript dependency to peerDependencies across multiple packages
  apps/blog/package.json
  package.json
  packages/astro-mermaid/package.json
  packages/astro-reading-time/package.json
  packages/remark-anchor-link/package.json
  packages/tsconfig/package.json
  packages/typography/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: app:blog, package:astro-mermaid, package:astro-reading-time, package:remark-anchor-link, package:tsconfig, package:typography, package:utils

Potential fix for code scanning alert no. 3: Prototype-polluting assignment
  packages/utils/src/assoc-path.ts
Labels: package:utils

fix: change single quotes to double quotes for consistency
  packages/utils/src/assoc-path.ts
Labels: package:utils

docs: prevent prototype pollution in assocPath function
  .changeset/spotty-shoes-hug.md
Labels: none

test: add checks for dangerous property names in assocPath
  packages/utils/tests/assoc-path.test.ts
Labels: package:utils

test: enhance mocks and cleanup in various test files
  apps/blog/components/__tests__/equation.test.tsx
  apps/blog/components/__tests__/table-box.test.tsx
  apps/blog/components/__tests__/table-row.test.tsx
  apps/blog/components/__tests__/text.test.tsx
  apps/blog/components/ui/__tests__/accordion.test.tsx
  apps/blog/lib/__tests__/image-helper.test.ts
  apps/blog/lib/__tests__/redis.test.ts
  packages/utils/tests/tap.test.ts
  packages/utils/tests/try-catch.test.ts
Labels: app:blog, package:utils

refactor(tests): replace afterEach with beforeEach for cleanup and mock resets
  apps/blog/components/__tests__/equation.test.tsx
  apps/blog/components/__tests__/icon.test.tsx
  apps/blog/components/__tests__/mention.test.tsx
  apps/blog/components/__tests__/table-box.test.tsx
  apps/blog/components/__tests__/table-row.test.tsx
  apps/blog/components/__tests__/text.test.tsx
  apps/blog/components/ui/__tests__/accordion.test.tsx
  apps/blog/components/ui/__tests__/action-button.test.tsx
  apps/blog/components/ui/__tests__/action-link.test.tsx
  apps/blog/components/ui/__tests__/alert-banner.test.tsx
  apps/blog/components/ui/__tests__/badges.test.tsx
  apps/blog/components/ui/__tests__/breadcrumb.test.tsx
  apps/blog/components/ui/__tests__/button.test.tsx
  apps/blog/components/ui/__tests__/card.test.tsx
  apps/blog/components/ui/__tests__/checkbox.test.tsx
  apps/blog/components/ui/__tests__/heading.test.tsx
  apps/blog/components/ui/__tests__/link.test.tsx
  apps/blog/components/ui/__tests__/list.test.tsx
  apps/blog/components/ui/__tests__/separator.test.tsx
  apps/blog/components/ui/__tests__/spinner.test.tsx
  apps/blog/components/ui/__tests__/table.test.tsx
  apps/blog/lib/__tests__/image-helper.test.ts
  apps/blog/lib/__tests__/query-blocks.test.ts
  apps/blog/lib/__tests__/query-data-sources.test.ts
  apps/blog/lib/__tests__/redis.test.ts
  apps/blog/lib/__tests__/retrieve-database.test.ts
  apps/blog/lib/__tests__/retrieve-page.test.ts
  apps/blog/lib/__tests__/retrieve-users.test.ts
  packages/utils/tests/tap.test.ts
  packages/utils/tests/try-catch.test.ts
Labels: app:blog, package:utils

refactor(tests): replace beforeEach with afterEach for cleanup and mock resets
  apps/blog/components/__tests__/equation.test.tsx
  apps/blog/components/__tests__/icon.test.tsx
  apps/blog/components/__tests__/mention.test.tsx
  apps/blog/components/__tests__/table-box.test.tsx
  apps/blog/components/__tests__/table-row.test.tsx
  apps/blog/components/__tests__/text.test.tsx
  apps/blog/components/ui/__tests__/accordion.test.tsx
  apps/blog/components/ui/__tests__/action-button.test.tsx
  apps/blog/components/ui/__tests__/action-link.test.tsx
  apps/blog/components/ui/__tests__/alert-banner.test.tsx
  apps/blog/components/ui/__tests__/badges.test.tsx
  apps/blog/components/ui/__tests__/breadcrumb.test.tsx
  apps/blog/components/ui/__tests__/button.test.tsx
  apps/blog/components/ui/__tests__/card.test.tsx
  apps/blog/components/ui/__tests__/checkbox.test.tsx
  apps/blog/components/ui/__tests__/heading.test.tsx
  apps/blog/components/ui/__tests__/link.test.tsx
  apps/blog/components/ui/__tests__/list.test.tsx
  apps/blog/components/ui/__tests__/separator.test.tsx
  apps/blog/components/ui/__tests__/spinner.test.tsx
  apps/blog/components/ui/__tests__/table.test.tsx
  apps/blog/lib/__tests__/image-helper.test.ts
  apps/blog/lib/__tests__/query-blocks.test.ts
  apps/blog/lib/__tests__/query-data-sources.test.ts
  apps/blog/lib/__tests__/redis.test.ts
  apps/blog/lib/__tests__/retrieve-database.test.ts
  apps/blog/lib/__tests__/retrieve-page.test.ts
  apps/blog/lib/__tests__/retrieve-users.test.ts
  packages/utils/tests/tap.test.ts
  packages/utils/tests/try-catch.test.ts
Labels: app:blog, package:utils

refactor(tests): remove unnecessary beforeEach for mock resets in test files
  apps/blog/components/__tests__/table-box.test.tsx
  apps/blog/components/__tests__/table-row.test.tsx
  apps/blog/components/__tests__/text.test.tsx
  apps/blog/components/ui/__tests__/accordion.test.tsx
Labels: app:blog

fix: import notFound from next/navigation after mock
  apps/blog/lib/__tests__/retrieve-database.test.ts
Labels: app:blog

feat: add SHA-1 hashing function and corresponding tests; refactor AES-GCM encryption/decryption methods
  apps/blog/components/__tests__/sha1.test.ts
  apps/blog/components/image.tsx
  apps/blog/lib/aes-gcm.ts
  apps/blog/lib/image-helper.ts
  apps/blog/lib/mime.ts
  apps/blog/package.json
  package.json
  packages/utils/src/aes-gcm.ts
  pnpm-lock.yaml
Labels: app:blog, package:utils

feat(tests): add unit tests for Image component with error handling and mock implementations
  apps/blog/components/__tests__/image.test.tsx
Labels: app:blog

fix: add request and response checksum configuration
  .changeset/great-wombats-clean.md
  apps/blog/lib/s3.ts
Labels: app:blog

feat: migrate blog website to use Bun as runtime
  apps/blog/package.json
  bun.lock
  package.json
  packages/astro-mermaid/package.json
  packages/astro-mermaid/tsconfig.json
  packages/astro-reading-time/package.json
  packages/astro-reading-time/tsconfig.json
  packages/remark-anchor-link/package.json
  packages/remark-anchor-link/tsconfig.json
  packages/typography/package.json
  packages/typography/tsconfig.json
  packages/utils/package.json
  packages/utils/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: app:blog, package:astro-mermaid, package:astro-reading-time, package:remark-anchor-link, package:typography, package:utils

feat: migrate from pnpm to bun and add vercel config
  .github/changeset-version.ts
  .github/workflows/release.yml
  .github/workflows/snk-generater.yml
  .github/workflows/test.yml
  bun.lock
  package.json
  vercel.json
Labels: none

fix: update tsconfig to use @tsconfig/bun base configuration
  packages/utils/tsconfig.json
Labels: package:utils

fix: add @types/node as peer dependency and update lockfile
  apps/blog/package.json
  bun.lock
Labels: app:blog

chore: update turbo from 2.7.2 to 2.7.4
  bun.lock
  package.json
Labels: none
