Repository mogeko/mogeko, changes with the labels that .github/labeler.yml gives for each.
All labels: app:blog, package:astro-mermaid, package:astro-reading-time, package:remark-anchor-link, package:tsconfig, package:typography, package:utils

refactor: use tsdown directly from build
  packages/astro-mermaid/build.ts
  packages/astro-mermaid/package.json
  packages/astro-mermaid/tsconfig.json
  packages/astro-mermaid/tsdown.config.ts
  packages/astro-reading-time/build.ts
  packages/astro-reading-time/package.json
  packages/astro-reading-time/tsconfig.json
  packages/astro-reading-time/tsdown.config.ts
  packages/remark-anchor-link/build.ts
  packages/remark-anchor-link/package.json
  packages/remark-anchor-link/tsconfig.json
  packages/remark-anchor-link/tsdown.config.ts
  packages/typography/build.ts
  packages/typography/package.json
  packages/typography/tsconfig.json
  packages/utils/build.ts
  packages/utils/package.json
  packages/utils/tsconfig.json
  packages/utils/tsdown.config.ts
Labels: package:astro-mermaid, package:astro-reading-time, package:remark-anchor-link, package:typography, package:utils

chore: update build scripts
  packages/astro-mermaid/build.ts
  packages/astro-mermaid/tsconfig.json
  packages/astro-reading-time/build.ts
  packages/astro-reading-time/package.json
  packages/astro-reading-time/tsconfig.json
  packages/remark-anchor-link/tsconfig.json
  packages/typography/tsconfig.json
  packages/typography/tsdown.config.ts
  packages/utils/build.ts
  packages/utils/tsconfig.json
Labels: package:astro-mermaid, package:astro-reading-time, package:remark-anchor-link, package:typography, package:utils

feat: replace AWS SDK with Bun's built-in S3 client
  apps/blog/app/image/[...key]/route.ts
  apps/blog/components/__tests__/image.test.tsx
  apps/blog/components/image.tsx
  apps/blog/lib/s3.ts
  apps/blog/package.json
  bun.lock
  package.json
  packages/astro-mermaid/package.json
  packages/astro-reading-time/package.json
  packages/remark-anchor-link/package.json
  packages/utils/package.json
  vitest.config.ts
Labels: app:blog, package:astro-mermaid, package:astro-reading-time, package:remark-anchor-link, package:utils

fix: update turbo.json environment variables and move vercel.json
  apps/blog/vercel.json
  turbo.json
Labels: app:blog

fix: simplify image route error handling and response logic
  apps/blog/app/image/[...key]/route.ts
  apps/blog/app/image/[id]/route.ts
Labels: app:blog

feat: replace @upstash/redis with built-in react client
  apps/blog/app/image/[id]/route.ts
  apps/blog/components/image.tsx
  apps/blog/lib/__tests__/image-helper.test.ts
  apps/blog/lib/__tests__/redis.test.ts
  apps/blog/lib/image-helper.ts
  apps/blog/lib/redis.ts
  apps/blog/package.json
  bun.lock
Labels: app:blog

chore: remove unused urlpattern-polyfill dependency
  apps/blog/components/text.tsx
  apps/blog/package.json
  bun.lock
Labels: app:blog

feat: support external image domain and improve error handling
  apps/blog/components/image.tsx
  apps/blog/lib/__tests__/image-helper.test.ts
  apps/blog/lib/image-helper.ts
  apps/blog/next.config.ts
  package.json
Labels: app:blog

chore: switch from pnpm to bun for dependency management
  .github/dependabot.yml
Labels: none

docs: bump `@mogeko/blog` to `0.2.13`
  .changeset/slick-rings-hunt.md
  .changeset/wild-mice-learn.md
  .changeset/witty-heads-hug.md
Labels: none

feat: enhance image helper with stricter validation
  apps/blog/lib/image-helper.ts
Labels: app:blog

feat: improve image helper type definitions
  apps/blog/lib/image-helper.ts
Labels: app:blog

test: update test scripts and snapshots for Bun compatibility
  apps/blog/components/__tests__/image.test.tsx
  apps/blog/package.json
  packages/astro-mermaid/package.json
  packages/astro-mermaid/tests/__snapshots__/add-mermaid-class.test.ts.snap
  packages/astro-mermaid/tests/__snapshots__/rehype-wrapper.test.ts.snap
  packages/astro-mermaid/tests/add-mermaid-class.test.ts
  packages/astro-mermaid/tests/rehype-wrapper.test.ts
  packages/astro-mermaid/vitest.config.ts
  packages/astro-reading-time/package.json
  packages/astro-reading-time/tests/__snapshots__/astro-reading-time.test.ts.snap
  packages/astro-reading-time/tests/__snapshots__/remark-reading-time.test.ts.snap
  packages/astro-reading-time/tests/astro-reading-time.test.ts
  packages/astro-reading-time/tests/remark-reading-time.test.ts
  packages/astro-reading-time/vitest.config.ts
  packages/remark-anchor-link/build.ts
  packages/remark-anchor-link/index.test.ts
  packages/remark-anchor-link/index.ts
  packages/remark-anchor-link/package.json
  packages/remark-anchor-link/tsconfig.json
  packages/remark-anchor-link/vitest.config.ts
  packages/utils/package.json
  packages/utils/src/deep-merge.ts
  packages/utils/tests/ase-gcm.test.ts
  packages/utils/tests/assoc-path.test.ts
  packages/utils/tests/deep-merge-with.test.ts
  packages/utils/tests/deep-merge.test.ts
  packages/utils/tests/has.test.ts
  packages/utils/tests/is-empty.test.ts
  packages/utils/tests/is-nil.test.ts
  packages/utils/tests/is.test.ts
  packages/utils/tests/memoize.test.ts
  packages/utils/tests/omit.test.ts
  packages/utils/tests/pick.test.ts
  packages/utils/tests/range.test.ts
  packages/utils/tests/tap.test.ts
  packages/utils/tests/try-catch.test.ts
  packages/utils/tsconfig.json
  packages/utils/vitest.config.ts
  turbo.json
Labels: app:blog, package:astro-mermaid, package:astro-reading-time, package:remark-anchor-link, package:utils

chore: update test workflow and coverage reporting
  .github/workflows/test.yml
  .gitignore
  package.json
Labels: none

chore: disable caching for test task in CI
  .github/workflows/test.yml
Labels: none

revert: update test workflow and coverage reporting
  .github/workflows/test.yml
Labels: none

test: add upload function export and update tests
  apps/blog/components/__tests__/image.test.tsx
  apps/blog/components/__tests__/upload.test.ts
  apps/blog/components/image.tsx
Labels: app:blog

test: add s3Write mock to upload test case
  apps/blog/components/__tests__/upload.test.ts
Labels: app:blog

refactor: rename release workflow to mono-build and update job name
  .github/workflows/mono-build.yml
Labels: none

chore: disable caching for test task in CI
  .github/workflows/test.yml
Labels: none

chore: add biome lint and format scripts to package.json
  apps/blog/package.json
Labels: app:blog

.github/labeler.yml:

"app:blog":
  - changed-files:
    - any-glob-to-any-file: ["apps/blog/**/*"]

"package:astro-mermaid":
  - changed-files:
    - any-glob-to-any-file: ["packages/astro-mermaid/**/*"]

"package:astro-reading-time":
  - changed-files:
    - any-glob-to-any-file: ["packages/astro-reading-time/**/*"]

"package:remark-anchor-link":
  - changed-files:
    - any-glob-to-any-file: ["packages/remark-anchor-link/**/*"]

"package:tsconfig":
  - changed-files:
    - any-glob-to-any-file: ["packages/tsconfig/**/*"]

"package:typography":
  - changed-files:
    - any-glob-to-any-file: ["packages/typography/**/*"]

"package:utils":
  - changed-files:
    - any-glob-to-any-file: ["packages/utils/**/*"]
