Repository mogeko/mogeko, changes with the labels that .github/labeler.yml gives for each.
All labels: app:blog, package:astro-mermaid, package:astro-reading-time, package:remark-anchor-link, package:tsconfig, package:typography, package:utils

.github/labeler.yml:

"app:blog":
  - changed-files:
    - any-glob-to-any-file: ["apps/blog/**/*"]

"package:astro-mermaid":
  - changed-files:
    - any-glob-to-any-file: ["packages/astro-mermaid/**/*"]

"package:astro-reading-time":
  - changed-files:
    - any-glob-to-any-file: ["packages/astro-reading-time/**/*"]

"package:remark-anchor-link":
  - changed-files:
    - any-glob-to-any-file: ["packages/remark-anchor-link/**/*"]

"package:tsconfig":
  - changed-files:
    - any-glob-to-any-file: ["packages/tsconfig/**/*"]

"package:typography":
  - changed-files:
    - any-glob-to-any-file: ["packages/typography/**/*"]

"package:utils":
  - changed-files:
    - any-glob-to-any-file: ["packages/utils/**/*"]

docs: update changeset
  .changeset/major-carpets-push.md
Labels: none

chore: update code structure for improved readability and maintainability
  apps/blog/package.json
  package.json
  packages/astro-mermaid/package.json
  packages/astro-reading-time/package.json
  packages/remark-anchor-link/package.json
  packages/typography/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: app:blog, package:astro-mermaid, package:astro-reading-time, package:remark-anchor-link, package:typography, package:utils

chore: update mergify rules for automatic merging of dependabot PRs and remove deprecated workflow
  .github/mergify.yml
  .github/workflows/auto-merge.yml
Labels: none

chore: add additional success checks for dependabot automatic merges
  .github/mergify.yml
Labels: none

chore: add urlpattern-polyfill for improved URL validation in RichText component
  apps/blog/components/text.tsx
  apps/blog/package.json
  pnpm-lock.yaml
Labels: app:blog

fix: update URLPattern instantiation for improved link validation in RichText component
  apps/blog/components/text.tsx
Labels: app:blog

chore: add '@tailwindcss/oxide' to onlyBuiltDependencies in pnpm-workspace.yaml
  apps/blog/package.json
  package.json
  packages/astro-mermaid/package.json
  packages/astro-reading-time/package.json
  packages/remark-anchor-link/package.json
  packages/typography/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: app:blog, package:astro-mermaid, package:astro-reading-time, package:remark-anchor-link, package:typography, package:utils

chore: update @notionhq/client dependency to version 3.0.1
  apps/blog/lib/api-endpoints.ts
  apps/blog/package.json
  pnpm-lock.yaml
Labels: app:blog

fix: remove unnecessary analysis checks from dependabot merge conditions
  .github/mergify.yml
Labels: none

refactor: refactor code structure for improved readability and maintainability
  apps/blog/components/article-author.tsx
  apps/blog/components/code.tsx
  apps/blog/components/cover-image.tsx
  apps/blog/components/icon.tsx
  apps/blog/components/mention.tsx
  apps/blog/components/render.tsx
  apps/blog/components/table-box.tsx
  apps/blog/components/table-row.tsx
  apps/blog/components/text.tsx
  apps/blog/lib/api-endpoints.ts
Labels: app:blog

feat: update data source queries for consistency and clarity in page and sitemap components
  apps/blog/app/page.tsx
  apps/blog/app/sitemap.ts
Labels: app:blog

docs: adapt to the new Data Sources API for Notion API
  .changeset/bright-spies-chew.md
Labels: none

refactor: replace Loading component with Spinner for improved loading indicators
  apps/blog/app/page.tsx
  apps/blog/app/posts/[slug]/page.tsx
  apps/blog/components/render.tsx
  apps/blog/components/ui/loading.module.css
  apps/blog/components/ui/loading.tsx
  apps/blog/components/ui/spinner.module.css
  apps/blog/components/ui/spinner.tsx
Labels: app:blog

feat: add React Compiler setup and update dependencies for improved performance
  .changeset/strong-papers-pull.md
  apps/blog/next.config.ts
  apps/blog/package.json
  pnpm-lock.yaml
Labels: app:blog

feat: replace Cloudinary with ImageKit for image uploads and update loader implementation
  apps/blog/components/image.tsx
  apps/blog/lib/image-loader.ts
  apps/blog/package.json
  pnpm-lock.yaml
Labels: app:blog

feat: implement image upload functionality with ImageKit and refactor image component
  apps/blog/components/image.tsx
  apps/blog/lib/imagekit.ts
Labels: app:blog

feat: integrate Redis for image caching and update upload options in image component
  .changeset/violet-comics-move.md
  apps/blog/components/image.tsx
  apps/blog/lib/imagekit.ts
  apps/blog/lib/redis.ts
  apps/blog/package.json
  pnpm-lock.yaml
Labels: app:blog

fix: caching the base64 result is unnecessary
  apps/blog/lib/imagekit.ts
Labels: app:blog

fix: remove Cloudinary remote pattern and update environment variables for ImageKit and Redis integration
  apps/blog/next.config.ts
  turbo.json
Labels: app:blog

feat: cache redis.hgetall call to optimize quota usage and reduce latency
  apps/blog/components/image.tsx
Labels: app:blog

fix: adjust formData handling for boolean values in upload options
  apps/blog/lib/imagekit.ts
Labels: app:blog

fix: improve error handling in upload function for better clarity on upload failures
  apps/blog/lib/imagekit.ts
Labels: app:blog

feat: enable auto-merge for Changesets PRs in release workflow
  .github/mergify.yml
  .github/workflows/release.yml
Labels: none

build: remove automatic merge rules for dependabot
  .github/mergify.yml
Labels: none

docs: improve error handling and enable auto-merge for Changesets PRs
  .changeset/tasty-apes-try.md
Labels: none

refactor: adjusting biome configuration
  apps/blog/biome.json
  apps/blog/package.json
  biome.json
  package.json
  pnpm-lock.yaml
Labels: app:blog

feat: add omit and pick utility functions
  packages/utils/index.ts
  packages/utils/src/omit.ts
  packages/utils/src/pick.ts
Labels: package:utils

test: add tests for omit and pick utility functions
  packages/utils/tests/omit.test.ts
  packages/utils/tests/pick.test.ts
Labels: package:utils

docs: add documentation for omit and pick utility functions
  .changeset/wicked-jobs-listen.md
  packages/utils/src/omit.ts
  packages/utils/src/pick.ts
Labels: package:utils

refactor: introducing URLSearchParams to support URL query parameter handling.
  apps/blog/app/api/oauth/access_token/route.ts
  apps/blog/app/api/oauth/authorize/route.ts
Labels: app:blog

fix: update variable name for consistency in image loader
  apps/blog/lib/image-loader.ts
Labels: app:blog

feat: improve image handling by making file names more semantic and enhancing cache key management
  .changeset/new-worms-admire.md
  apps/blog/components/image.tsx
Labels: app:blog

feat: enhance image caching mechanism and improve file handling
  apps/blog/components/image.tsx
Labels: app:blog

fix: update variable name for clarity in image caching logic
  apps/blog/components/image.tsx
Labels: app:blog

fix: add comment to clarify caching logic in image component
  apps/blog/components/image.tsx
Labels: app:blog

feat: add JWT generation function using jose library
  apps/blog/lib/octokit.ts
  apps/blog/package.json
  pnpm-lock.yaml
Labels: app:blog

refactor: standardizing the use of environment variable names
  apps/blog/app/api/oauth/access_token/route.ts
  apps/blog/app/api/oauth/authorize/route.ts
  apps/blog/next.config.ts
  turbo.json
Labels: app:blog

feat: add Cloudflare R2 as the storage backend and implement the image upload logic
  .changeset/tiny-jars-eat.md
  apps/blog/lib/image-upload.ts
  apps/blog/lib/s3.ts
  apps/blog/package.json
  pnpm-lock.yaml
Labels: app:blog

feat: implement image retrieval and caching logic in route handler
  apps/blog/app/image/[...asset_key]/route.ts
  apps/blog/lib/image-upload.ts
Labels: app:blog

feat: simplify image upload logic and update environment variable usage
  apps/blog/app/image/[...asset_key]/route.ts
  apps/blog/components/image.tsx
  apps/blog/components/render.tsx
  apps/blog/lib/image-upload.ts
  apps/blog/lib/octokit.ts
  apps/blog/lib/s3.ts
Labels: app:blog
